/*!
Theme Name: Laphroig Theme
Template: pwp-simplicity
Theme URI: http://underscores.me/
Author: Premise WP
Author URI: http://premisewp.com
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: pwp-simplicity
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

PWP Simplicity is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}body{font-size:18px}body,button,input,select,optgroup,textarea{color:#404040;font-family:sans-serif;font-size:16px;font-size:1rem;line-height:1.5}h1,h2,h3,h4,h5,h6{clear:both;color:inherit}h1,h2{font-family:"Fjalla One",sans-serif;font-size:2em;line-height:1.3;margin:1em 0 .2em 0;text-transform:uppercase}h2{letter-spacing:0.0125em}h3{font-family:"Fjalla One",sans-serif;font-size:1.6em;line-height:1.3;text-transform:uppercase;margin-top:0;margin-bottom:.2em}h4{font-family:"Fjalla One",sans-serif;font-size:1.6em;line-height:1.4}h5,h6{font-family:"Cantata One",sans-serif;font-size:1.5em;font-weight:bold;line-height:1.42;margin:0.2em 0 0.2em 0}p{font-family:"Cantata One",sans-serif;font-size:1em;line-height:1.45;margin:0.2em 0 1em 0;color:inherit}p.medium{font-family:"Cantata One",sans-serif;font-size:.625em}p.small{font-family:"Cantata One",sans-serif;font-size:.6em;line-height:1.39}p.x-small{font-family:"Cantata One",sans-serif;font-size:.5em;line-height:1.27}dfn,cite,em,i{font-style:italic}blockquote{margin:0 1.5em}address{margin:0 0 1.5em}pre{background:#eee;font-family:"Courier 10 Pitch",Courier,monospace;font-size:15px;font-size:.9375rem;line-height:1.6;margin-bottom:1.6em;max-width:100%;overflow:auto;padding:1.6em}code,kbd,tt,var{font-family:Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;font-size:15px;font-size:.9375rem}abbr,acronym{border-bottom:1px dotted #666;cursor:help}mark,ins{background:#fff9c0;text-decoration:none}big{font-size:125%}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}body{background:#fff}blockquote,q{quotes:"" ""}blockquote:before,blockquote:after,q:before,q:after{content:""}hr{background-color:#ccc;border:0;height:1px;margin-bottom:1.5em}ul,ol{margin:0 0 1.5em 0;padding-left:1.2em}ul{list-style:disc}ol{list-style:decimal}li>ul,li>ol{margin-bottom:0;margin-left:1.5em}dt{font-weight:bold}dd{margin:0 1.5em 1.5em}img{height:auto;max-width:100%}figure{margin:1em 0}table{margin:0 0 1.5em;width:100%}button,input[type="button"],input[type="reset"],input[type="submit"]{border:1px solid;border-color:#ccc #ccc #bbb;border-radius:3px;background:#e6e6e6;color:rgba(0,0,0,0.8);font-size:12px;font-size:.75rem;line-height:1;padding:.6em 1em .4em}button:hover,input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover{border-color:#ccc #bbb #aaa}button:active,button:focus,input[type="button"]:active,input[type="button"]:focus,input[type="reset"]:active,input[type="reset"]:focus,input[type="submit"]:active,input[type="submit"]:focus{border-color:#aaa #bbb #bbb}input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"],input[type="number"],input[type="tel"],input[type="range"],input[type="date"],input[type="month"],input[type="week"],input[type="time"],input[type="datetime"],input[type="datetime-local"],input[type="color"],textarea{color:#666;border:1px solid #ccc;border-radius:3px;padding:3px}input[type="text"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="number"]:focus,input[type="tel"]:focus,input[type="range"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="week"]:focus,input[type="time"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="color"]:focus,textarea:focus{color:#111}select{border:1px solid #ccc}textarea{width:100%}a{color:#4169e1}a:visited{color:purple}a:hover,a:focus,a:active{color:#191970}a:focus{outline:thin dotted}a:hover,a:active{outline:0}.main-navigation{clear:both;display:block;position:relative;width:100%}.main-navigation .menu-toggle{display:inline-block;width:30px;height:20px;padding:0;background-color:#29492b;border:0;position:absolute;top:-45px;right:10px;cursor:pointer}.main-navigation ul{display:none;list-style:none;margin:0;padding-left:0;padding-top:1em;padding-bottom:1em}.main-navigation ul ul{box-shadow:0 3px 3px rgba(0,0,0,0.2);float:left;position:absolute;top:100%;left:-999em;z-index:99999}.main-navigation ul ul ul{left:-999em;top:0}.main-navigation ul ul li:hover>ul,.main-navigation ul ul li.focus>ul{left:100%}.main-navigation ul ul a{width:200px}.main-navigation ul li:hover>ul,.main-navigation ul li.focus>ul{left:auto}.main-navigation li{display:block;margin-bottom:.8em;text-align:center;font-family:"Cantata One",sans-serif;font-size:1.12em;line-height:1.77}.main-navigation a{display:block;text-decoration:none;color:#fff}.menu-toggle,.main-navigation.toggled ul{display:block}.site-main .comment-navigation,.site-main .posts-navigation,.site-main .post-navigation{margin:0 0 1.5em;overflow:hidden}.comment-navigation .nav-previous,.posts-navigation .nav-previous,.post-navigation .nav-previous{float:left;width:50%}.comment-navigation .nav-next,.posts-navigation .nav-next,.post-navigation .nav-next{float:right;text-align:right;width:50%}.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important;height:1px;width:1px;overflow:hidden;word-wrap:normal !important}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,0.6);clip:auto !important;color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:bold;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}#content[tabindex="-1"]:focus{outline:0}.alignleft{display:inline;float:left;margin-right:1.5em}.alignright{display:inline;float:right;margin-left:1.5em}.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto}.clear:before,.clear:after,.entry-content:before,.entry-content:after,.comment-content:before,.comment-content:after,.site-header:before,.site-header:after,.site-content:before,.site-content:after,.site-footer:before,.site-footer:after{content:"";display:table;table-layout:fixed}.clear:after,.entry-content:after,.comment-content:after,.site-header:after,.site-content:after,.site-footer:after{clear:both}.widget{margin:0 0 1.5em}.widget select{max-width:100%}.site-header{background-color:#29492b;box-shadow:0 10px 16px 0 rgba(0,0,0,0.34);position:fixed;width:100%;top:0;left:0}.site-header .site-branding{display:block;max-width:150px;margin:0 auto;padding:.8em 0;transition:padding .4s 0s ease}.site-header.shrink .site-branding{padding:.2em 0}.site-header.shrink .menu-toggle{margin-top:-1.4em}.site-header .menu-toggle{float:right;margin-top:-1.7em;margin-right:.6em;color:#fff;transition:margin .4s 0s ease}.sticky{display:block}.hentry{margin:0 0 1.5em}.updated:not(.published){display:none}.page-content,.entry-content,.entry-summary{margin:1.5em 0 0}.page-links{clear:both;margin:0 0 1.5em}.comment-content a{word-wrap:break-word}.bypostauthor{display:block}html,body{overflow-x:hidden;position:relative;box-sizing:border-box}.noscroll{overflow-y:hidden}.main-navigation li{margin-bottom:0;float:none;text-transform:uppercase}.site-content{padding-left:0;padding-right:0;max-width:100%}.inner_section{max-width:600px;margin:0 auto}sup{font-size:50%;top:-0.8em}.pwp-simplicity-hero{padding:45% 10%;background-size:cover;background-position:center;background-repeat:no-repeat}@media screen and (min-width: 600px){.pwp-simplicity-hero{padding:15% 10%;background-position:left top}}.pwp-simplicity-hero-text{color:#fff;text-align:center;max-width:500px;margin:0 auto}.pwp-simplicity-hero-text img{display:inline-block}.rugged-bar{display:block;margin:.4em auto;height:.45em;background-size:.4em auto;background-position:center;background-repeat:repeat-x}.rugged-bar-white{background-image:url(./img/rugged-bar-white.png)}.rugged-bar-green{background-image:url(./img/rugged-bar-green.png)}section{padding:12% 1.35em;background-size:cover;background-position:center;background-repeat:no-repeat;box-sizing:border-box}section.full-width{padding-left:0;padding-right:0}.front-page .section-harnessing-power{color:#fff;text-align:center}.front-page .section-harnessing-power-header{max-width:250px;margin:0 auto 1em}.front-page .section-explore-expressions{color:#29492b}.front-page .section-explore-expressions-header{text-align:center}.front-page .section-explore-expressions-bottle{margin-top:3em;margin-bottom:2em}.front-page .section-explore-expressions-bottle-text h3{margin-bottom:0;color:#29492b}.front-page .section-explore-expressions-bottle-text p{margin-top:.3em;color:#29492b}.front-page .section-explore-expressions-bottle img{max-height:500px;display:block;margin:0 auto}.front-page .section-explore-expressions-tasting-notes{margin-top:4em}.front-page .section-select{color:#29492b}.front-page .section-select-bottle img{max-height:500px}.front-page .section-select-bottle-text{text-align:right}.front-page .section-select-bottle-text h3 span{margin-right:-.4em}.front-page .section-select-tasting-notes{margin-top:4em}.front-page .section-explore-expressions-tasting-notes p,.front-page .section-select-tasting-notes p{font-family:"Cantata One",sans-serif;font-size:.625em}.front-page .section-explore-expressions-tasting-notes h5,.front-page .section-select-tasting-notes h5{font-size:.75em}.front-page .section-explore-expressions-tasting-notes h3,.front-page .section-select-tasting-notes h3{font-size:1em}.front-page .section-explore-expressions-tasting-notes .col2:first-child,.front-page .section-select-tasting-notes .col2:first-child{padding-right:2em}.front-page .section-making-laphroaig{background-color:#29492b;color:#fff;background-position:center bottom}.front-page .section-making-laphroaig-ingredients{margin-top:4em;max-width:375px;margin-right:auto;margin-left:auto}.front-page .section-making-laphroaig-ingredients-icon{padding:0 1.60em;transform:scale(0, 0);transition:all .8s .0s ease-in-out}.front-page .section-making-laphroaig-ingredients-text{opacity:0;transition:all .8s .0s ease-in-out}.front-page .section-making-laphroaig-ingredients-i{height:0}.front-page .section-making-laphroaig-ingredients-i.animated .section-making-laphroaig-ingredients-icon{transform:scale(1, 1)}.front-page .section-making-laphroaig-ingredients-i.animated .section-making-laphroaig-ingredients-text{opacity:1;transform:scale(1, 1)}.front-page .section-making-laphroaig-ingredients-water .cls-1{fill:none}.front-page .section-making-laphroaig-ingredients-water .cls-2{fill:#FFFFFF}.front-page .section-making-laphroaig-ingredients-water .section-making-laphroaig-ingredients-icon{padding:0 1.85em}.front-page .section-making-laphroaig-ingredients-peat .cls-1{fill:#29492b}.front-page .section-making-laphroaig-ingredients-peat .cls-2{fill:#FFFFFF}.front-page .section-making-laphroaig-ingredients-barley .cls-1{fill:#29492b}.front-page .section-making-laphroaig-ingredients-barley .cls-2{fill:#FFFFFF}.front-page .section-making-laphroaig-ingredients-barley .section-making-laphroaig-ingredients-icon{padding-left:.7em;padding-right:2.3em}.front-page .section-making-laphroaig-ingredients-still .cls-1{fill:#29492b}.front-page .section-making-laphroaig-ingredients-still .cls-2{fill:#FFFFFF}.front-page .section-making-laphroaig-ingredients-islay .cls-1{fill:#FFFFFF}.front-page .section-making-laphroaig-ingredients-islay .cls-2{fill:#FFFFFF}.front-page .section-making-laphroaig-ingredients-bottle{padding:0 5em;z-index:5;position:relative}.front-page .section-flavors-laphroaig{background-image:radial-gradient(circle at 0 0, #000, #fff),linear-gradient(#fff, #fff);background-image:radial-gradient(circle at 0 0, var(--black), var(--white)),linear-gradient(var(--white), var(--white));background-blend-mode:multiply, normal;padding-bottom:0}.front-page .section-flavors-laphroaig-arrow{margin:2em auto 0;text-align:center}.front-page .section-flavors-laphroaig-arrow *{color:#29492b;margin-bottom:5px !important;font-weight:bold}.front-page .section-flavors-laphroaig-arrow .fa{font-size:65px;height:40px;animation-name:epda_bounce1;animation-duration:2s;animation-iteration-count:infinite}.front-page .section-flavors-laphroaig-header{padding:0 10%;color:#29492b}.front-page .section-flavors-laphroaig-wheel-cont{color:#29492b;margin-top:4em;margin-bottom:4em;overflow:hidden;position:relative}.front-page .section-flavors-laphroaig-wheel-cont h3>span{font-size:60%;letter-spacing:normal}.front-page .section-flavors-laphroaig-wheel-scroller{position:relative;display:block;padding:3em 1em}.front-page .section-flavors-laphroaig-wheel{padding:0 0 0 1em;box-sizing:border-box;position:relative}.front-page .section-flavors-laphroaig-wheel svg{-webkit-overflow-scrolling:touch;transform-origin:center;transform:rotate(0deg);overflow:visible}.front-page .section-flavors-laphroaig-wheel svg #flavor-wheel>g{position:relative;z-index:2;transform:scale(1, 1);transform-origin:center}.front-page .section-flavors-laphroaig-wheel svg #flavor-wheel>g path,.front-page .section-flavors-laphroaig-wheel svg #flavor-wheel>g text{transition:fill .4s ease-in-out}.front-page .section-flavors-laphroaig-wheel svg #flavor-wheel>g.hovered{opacity:1;transform:scale(1.2, 1.2);z-index:99}.front-page .section-flavors-laphroaig-wheel svg #flavor-wheel>g.hovered path{fill:#fff;opacity:1}.front-page .section-flavors-laphroaig-wheel svg #flavor-wheel>g.hovered text{fill:#29492b;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.front-page .section-flavors-laphroaig-wheel svg #flavor-wheel>g#white-pepper text{font-size:43%}.front-page .section-flavors-laphroaig-wheel svg .cls-10{box-shadow:0 0 1px #000}.front-page .section-flavors-laphroaig-wheel-shadow{position:relative;border-radius:50%;background-color:#fff;top:0;left:0;width:100%;height:100%;padding:5px 5px 0}.front-page .section-flavors-laphroaig .flavor-content p,.front-page .section-flavors-laphroaig .flavor-content li,.front-page .section-flavors-laphroaig .flavor-content a{font-family:"Cantata One",sans-serif;font-size:1.12em;line-height:1.77;color:#29492b}.front-page .section-flavors-laphroaig-wheel-info{padding:3em 1em 0 1.375em;box-sizing:border-box;position:absolute;top:0;right:0;width:50%;height:100%;z-index:99;background-color:#fff}.front-page .section-flavors-laphroaig-wheel-info .flavor-content ul>br{display:none !important}.front-page .section-flavors-laphroaig-wheel-info h3{font-size:1.8em;margin-top:0;margin-bottom:0.3em}.front-page .section-flavors-laphroaig-wheel-info h4{font-size:1.3em;margin-top:0.3em;margin-bottom:0.3em}.front-page .section-flavors-laphroaig-wheel-info-border{box-shadow:-1px 0 3px #333;height:100%;width:3px;background-color:#29492b;position:absolute;border-radius:3px;top:0;left:0.375em}.front-page .section-flavors-laphroaig-cocktail{display:block;padding-top:0;text-align:center;color:#fff;position:relative;background-image:url(./img/kiss-of-islay.png);background-size:cover;background-position:center top;background-repeat:no-repeat;background-color:transparent}.front-page .section-flavors-laphroaig-cocktail h2{margin-top:0}.front-page .section-flavors-laphroaig-cocktail h3{margin-bottom:0}.front-page .section-flavors-laphroaig-cocktail-header{padding:1em 10%}.front-page .section-flavors-laphroaig-cocktail-header h3{font-size:1.3em;margin-bottom:.3em}.front-page .section-flavors-laphroaig-cocktail-header h2{font-size:1.4em;line-height:1}.front-page .section-flavors-laphroaig-cocktail-content,.front-page .section-flavors-laphroaig-cocktail-directions{padding:2% 10%}.front-page .section-flavors-laphroaig-cocktail-recipe p{line-height:2.45}.front-page .section-flavors-laphroaig-cocktail-recipe li{color:#fff}.front-page .section-flavors-laphroaig-cocktail-directions{text-align:center;display:block;bottom:0;left:0;width:100%;background:linear-gradient(rgba(255,255,255,0), 25%, #000);padding:.8em 10%}.front-page .section-flavors-laphroaig-food{display:block;padding-top:0;text-align:center;color:#fff;position:relative;background-image:url(./img/Oysters.png);background-size:cover;background-position:center top;background-repeat:no-repeat;background-color:transparent}.front-page .section-flavors-laphroaig-food h2{margin-top:0}.front-page .section-flavors-laphroaig-food h3{margin-bottom:0}.front-page .section-flavors-laphroaig-food .inner_section{padding:40% 10% 0}.front-page .section-flavors-laphroaig-food-header{width:100%;text-align:center;text-align:center;padding:1em 10%;display:block;top:0;left:0;width:100%;background:linear-gradient(#000, 75%, rgba(255,255,255,0))}.front-page .section-flavors-laphroaig-food-header h3{font-size:1.3em;margin-bottom:.3em}.front-page .section-flavors-laphroaig-food-header h2{font-size:1.6em}.front-page .section-flavors-laphroaig-food-content,.front-page .section-flavors-laphroaig-food-directions{padding:2% 10%}.front-page .section-flavors-laphroaig-food-name{width:100%;text-align:center;text-align:center}.front-page .section-flavors-laphroaig-food-name h5{margin-top:60px;padding:0 10%;display:block;margin-bottom:15px}.front-page .section-flavors-laphroaig-food-name-directions{bottom:0;left:0;width:100%;background:linear-gradient(rgba(255,255,255,0), 25%, #000);padding:.8em 10%}.section-more-cocktails{background-color:#29492b;color:#fff;text-align:center;padding-left:0;padding-right:0;position:relative}.section-more-cocktails h3{margin-bottom:.4em;font-size:1.43em}.section-more-cocktails h2{margin-top:0;font-size:1.63em}.section-more-cocktails-header{margin-bottom:2em;padding-left:1em;padding-right:1em}.section-more-cocktails-grid>div{padding-top:33.33%;border:1px solid #f4f4f4;background-position:center;background-size:auto 70%;background-color:#000;background-repeat:no-repeat;cursor:pointer}.section-more-cocktails-lightbox{position:absolute;top:0;left:0;width:100%;height:100%;box-sizing:border-box;background-color:rgba(0,0,0,0.75);padding-bottom:4em;padding-top:2em}.section-more-cocktails-lightbox-close{background-image:url(./img/X.png);background-position:center;background-size:contain;background-repeat:no-repeat;width:25px;height:25px;display:block;float:right;margin:1em 1em 0 0;cursor:pointer}.section-more-cocktails-lightbox-inner{padding:1em 3em}.section-more-cocktails-lightbox-header{margin-bottom:2em}#content{padding-bottom:0}.site-footer{background-color:#f4f4f4;padding:2em 2em}.site-footer p{font-family:"Cantata One",sans-serif;font-size:.5em;line-height:1.27}.site-footer a{font-family:"Cantata One",sans-serif;color:#29492b;text-decoration:none}.site-footer .social{text-align:center;padding-bottom:2em}.site-footer .social-icon{width:40px;height:40px;margin:0 .5em;background-size:initial;background-image:url(./img/social.png);background-repeat:no-repeat;background-size:auto 40px}.site-footer .social-instagram{background-position:0 0}.site-footer .social-facebook{background-position:-63px 0}.site-footer .social-youtube{background-position:-127px 0}.site-footer .social-twitter{background-position:-190px 0}@-webkit-keyframes epda_bounce1{0%{-webkit-animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1)}20%{-webkit-animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1)}40%{-webkit-animation-timing-function:cubic-bezier(0.755, 0.05, 0.855, 0.06)}70%{-webkit-animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1)}80%{-webkit-animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1)}100%{-webkit-animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1)}0%{-webkit-transform:translate3d(0, 0, 0)}20%{-webkit-transform:translate3d(0, 0, 0)}40%{-webkit-transform:translate3d(0, -30px, 0)}70%{-webkit-transform:translate3d(0, 0, 0)}80%{-webkit-transform:translate3d(0, -8px, 0)}100%{-webkit-transform:translate3d(0, 0, 0)}}@-moz-keyframes epda_bounce1{0%{-moz-animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1)}20%{-moz-animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1)}40%{-moz-animation-timing-function:cubic-bezier(0.755, 0.05, 0.855, 0.06)}70%{-moz-animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1)}80%{-moz-animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1)}100%{-moz-animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1)}0%{-moz-transform:translate3d(0, 0, 0)}20%{-moz-transform:translate3d(0, 0, 0)}40%{-moz-transform:translate3d(0, -30px, 0)}70%{-moz-transform:translate3d(0, 0, 0)}80%{-moz-transform:translate3d(0, -8px, 0)}100%{-moz-transform:translate3d(0, 0, 0)}}@-ms-keyframes epda_bounce1{0%{-ms-animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1)}20%{-ms-animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1)}40%{-ms-animation-timing-function:cubic-bezier(0.755, 0.05, 0.855, 0.06)}70%{-ms-animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1)}80%{-ms-animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1)}100%{-ms-animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1)}0%{-ms-transform:translate3d(0, 0, 0)}20%{-ms-transform:translate3d(0, 0, 0)}40%{-ms-transform:translate3d(0, -30px, 0)}70%{-ms-transform:translate3d(0, 0, 0)}80%{-ms-transform:translate3d(0, -8px, 0)}100%{-ms-transform:translate3d(0, 0, 0)}}@-o-keyframes epda_bounce1{0%{-o-animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1)}20%{-o-animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1)}40%{-o-animation-timing-function:cubic-bezier(0.755, 0.05, 0.855, 0.06)}70%{-o-animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1)}80%{-o-animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1)}100%{-o-animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1)}0%{-o-transform:translate3d(0, 0, 0)}20%{-o-transform:translate3d(0, 0, 0)}40%{-o-transform:translate3d(0, -30px, 0)}70%{-o-transform:translate3d(0, 0, 0)}80%{-o-transform:translate3d(0, -8px, 0)}100%{-o-transform:translate3d(0, 0, 0)}}@keyframes epda_bounce1{0%{animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1)}20%{animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1)}40%{animation-timing-function:cubic-bezier(0.755, 0.05, 0.855, 0.06)}70%{animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1)}80%{animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1)}100%{animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1)}0%{transform:translate3d(0, 0, 0)}20%{transform:translate3d(0, 0, 0)}40%{transform:translate3d(0, -30px, 0)}70%{transform:translate3d(0, 0, 0)}80%{transform:translate3d(0, -8px, 0)}100%{transform:translate3d(0, 0, 0)}}.section-inspirational-cocktails{padding-bottom:0}.section-inspirational-cocktails>.pwp-row{position:relative;background-image:url(./img/kiss-of-islay.png);background-size:cover;background-position:bottom left;background-repeat:no-repeat}.section-inspirational-cocktails>.pwp-row>.divider{content:'';position:absolute;top:0;left:50%;width:5px;height:100%;margin:0 0 0 -2.5px;background-color:#29492b}.infinite-scroll .posts-navigation,.infinite-scroll.neverending .site-footer{display:none}.infinity-end.neverending .site-footer{display:block}.page-content .wp-smiley,.entry-content .wp-smiley,.comment-content .wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0}embed,iframe,object{max-width:100%}.custom-logo-link{display:inline-block}.wp-caption{margin-bottom:1.5em;max-width:100%}.wp-caption img[class*="wp-image-"]{display:block;margin-left:auto;margin-right:auto}.wp-caption .wp-caption-text{margin:0.8075em 0}.wp-caption-text{text-align:center}.gallery{margin-bottom:1.5em}.gallery-item{display:inline-block;text-align:center;vertical-align:top;width:100%}.gallery-columns-2 .gallery-item{max-width:50%}.gallery-columns-3 .gallery-item{max-width:33.3333333333%}.gallery-columns-4 .gallery-item{max-width:25%}.gallery-columns-5 .gallery-item{max-width:20%}.gallery-columns-6 .gallery-item{max-width:16.6666666667%}.gallery-columns-7 .gallery-item{max-width:14.2857142857%}.gallery-columns-8 .gallery-item{max-width:12.5%}.gallery-columns-9 .gallery-item{max-width:11.1111111111%}.gallery-caption{display:block}
/*# sourceMappingURL=style.css.map */
