.main-navigation {
	clear: both;
	display: block;
	position: relative;
	width: 100%;

	.menu {

	}

	.menu-toggle {
		display: inline-block;
		width: 30px;
		height: 20px;
		padding: 0;
		background-color: $pine;
		border: 0;
		position: absolute;
		top: -45px;
		right: 10px;
		cursor: pointer;
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		padding-top: 1em;
		padding-bottom: 1em;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		display: block;
		margin-bottom: .8em;
		text-align: center;
		@include li;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: $white;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
