html,body {
	// position: relative;
	// height: auto;
	// width: 100%;
	// box-sizing: border-box;
	overflow-x: hidden;
	position: relative;
  // top: 0;
  // left: 0;
  box-sizing: border-box;
}
.noscroll {
	overflow-y: hidden;
  // font-size: 2em;
}
.main-navigation li {
	margin-bottom: 0;
	float: none;
	text-transform: uppercase;
}
.site-content {
	padding-left: 0;
	padding-right: 0;
	max-width: 100%;
}
.inner_section {
	max-width: 600px;
	margin: 0 auto;
}
sup {
	font-size: 50%;
	top: -0.8em;
}
.pwp-simplicity-hero {
	padding: 45% 10%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	@media screen and (min-width: 600px) {
		padding: 15% 10%;
		background-position: left top;
	}

	&-text {
		color: $white;
		text-align: center;
		max-width: 500px;
		margin: 0 auto;

		img {
			display: inline-block;
		}
	}
}

.rugged-bar {
	display: block;
	margin: .4em auto;
	height: .45em;
	background-size: .4em auto;
	background-position: center;
	background-repeat: repeat-x;

	&-white {
		background-image: url(./img/rugged-bar-white.png);
	}
	&-green {
		background-image: url(./img/rugged-bar-green.png);
	}
}

section {
	padding: 12% 1.35em;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	box-sizing: border-box;

	&.full-width {
		padding-left: 0;
		padding-right: 0;
	}
}

.front-page {

	.section-harnessing-power {
		color: $white;
		text-align: center;

		&-header {
			max-width: 250px;
			margin: 0 auto 1em;
		}
	}

	.section-explore-expressions {
		color: $pine;

		&-header {
			text-align: center;
		}

		&-bottle {
			margin-top: 3em;
			margin-bottom: 2em;

			&-text {
				h3 {
					margin-bottom: 0;
					color: $pine;
				}
				p {
					margin-top: .3em;
					color: $pine;
				}
			}
			img {
				max-height: 500px;
				display: block;
				margin: 0 auto;
			}
		}

		&-tasting-notes {
			margin-top: 4em;

			&-header {}
		}
	}

	.section-select {
		// margin-top: 0.5em;
		color: $pine;

		&-bottle {
			img {
				max-height: 500px;
			}
			&-text {
				text-align: right;

				h3 span {
					margin-right: -.4em;
				}
			}
		}

		&-tasting-notes {
			margin-top: 4em;

			&-header {}
		}
	}

	.section-explore-expressions-tasting-notes,
	.section-select-tasting-notes {
		p {
			@include ga-text-md;
		}
		h5 {
			font-size: .75em;
		}
		h3 {
			font-size: 1em;
		}

		.col2:first-child {
			padding-right: 2em;
		}
	}

	.section-making-laphroaig {
		background-color: $pine;
		color: $white;
		background-position: center bottom;

		&-ingredients {
			margin-top: 4em;
			max-width: 375px;
			margin-right: auto;
			margin-left: auto;

			&-icon {
				padding: 0 1.60em;
				transform: scale(0,0);
				transition: all .8s .0s ease-in-out;
			}

			&-text {
				opacity: 0;
				// transform: scale(0,0);
				transition: all .8s .0s ease-in-out;
			}

			&-i {
				// transition: max-height 1.15s ease-in-out;
				height: 0;
			}

			&-i.animated {
				// max-height: 350px;

				.section-making-laphroaig-ingredients-icon {
					transform: scale(1,1);
				}

				.section-making-laphroaig-ingredients-text {
					opacity: 1;
					transform: scale(1,1);
				}
			}

			&-water {
				.cls-1 {
					fill: none;
				}
				.cls-2 {
					fill: #FFFFFF;
				}
				.section-making-laphroaig-ingredients-icon {
					padding: 0 1.85em;
				}
			}

			&-peat {
				.cls-1 {
					fill: $pine;
				}
				.cls-2 {
					fill: #FFFFFF;
				}
			}

			&-barley {
				.cls-1 {
					fill: $pine;
				}
				.cls-2 {
					fill: #FFFFFF;
				}
				.section-making-laphroaig-ingredients-icon {
					    padding-left: .7em;
    padding-right: 2.3em;
				}
			}

			&-still {
				.cls-1 {
					fill: $pine;
				}
				.cls-2 {
					fill: #FFFFFF;
				}
			}

			&-islay {
				.cls-1 {
					fill: #FFFFFF;
				}
				.cls-2 {
					fill: #FFFFFF;
				}
			}

			&-bottle {
				padding: 0 5em;
				z-index: 5;
				position: relative;
			}
		}
	}

	.section-flavors-laphroaig {
		background-image: radial-gradient(circle at 0 0, #000000, #ffffff), linear-gradient(#ffffff, #ffffff);
		background-image: radial-gradient(circle at 0 0, var(--black), var(--white)), linear-gradient(var(--white), var(--white));
		background-blend-mode: multiply, normal;
		padding-bottom: 0;

		&-arrow {
			// max-width: 200px;
			margin: 2em auto 0;
			text-align: center;


			* {
				color: $pine;
				margin-bottom: 5px !important;
				font-weight: bold;
			}

			.fa {
				font-size: 65px;
				height: 40px;
				animation-name: epda_bounce1;
				animation-duration: 2s;
				animation-iteration-count: infinite;
			}
		}

		&-header {
			padding: 0 10%;
			color: $pine;
		}

		&-wheel-cont {
			color: $pine;
			margin-top: 4em;
			margin-bottom: 4em;
			overflow: hidden;
			position: relative;

			h3 > span {
				font-size: 60%;
				letter-spacing: normal;
			}
		}

		&-wheel-scroller {
			position: relative;
			display: block;
			padding: 3em 1em;
		}

		&-wheel {
			padding: 0 0 0 1em;
			box-sizing: border-box;
			// overflow: hidden;
			position: relative;

			svg {
				-webkit-overflow-scrolling: touch;
				transform-origin: center;
				transform: rotate(0deg);
				overflow: visible;

						// filter: drop-shadow( 0 0 5px #000 );
				#flavor-wheel > g {
					position: relative;
					z-index: 2;
					transform: scale(1,1);
						transform-origin: center;

					path,
					text {
						transition: fill .4s ease-in-out;
					}

					&.hovered {
						opacity: 1;
						transform: scale(1.2,1.2);
						z-index: 99;

						path {
							fill: #fff;
							opacity: 1;
							// stroke: #000;
					  //   stroke-width: 0.025em;
					  //   stroke-opacity: 0.15;
					  //   stroke-linejoin: round;
					  //   position: relative;
					  //   z-index: 9;
						}

						text {
							fill: $pine;
							-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
						}
					}

					// adjust for white pepper
					&#white-pepper {
						text {
							font-size: 43%;

						}
					}
				}

				.cls-10 {
					box-shadow: 0 0 1px #000;
				}
			}

			&-shadow {
				    position: relative;
				    border-radius: 50%;
				    background-color: #fff;
				    // box-shadow: 0 0 3px #000;
				    top: 0;
				    left: 0;
				    width: 100%;
				    height: 100%;
				    padding: 5px 5px 0;
			}
		}

		.flavor-content {
			p,li,a {
				@include li;
				color: $pine;
			}
		}

		&-wheel-info {
			padding: 3em 1em 0 1.375em;
			box-sizing: border-box;
			position: absolute;
			top: 0;
			right: 0;
			width: 50%;
			height: 100%;
			z-index: 99;
			background-color: #fff;
			// border-left: 3px solid $pine;

			.flavor-content {
				ul > br {
					display: none !important;
				}
			}

			h3 {
				font-size: 1.8em;
				margin-top: 0;
				margin-bottom: 0.3em;
			}

			h4 {
				font-size: 1.3em;
				margin-top: 0.3em;
				margin-bottom: 0.3em;
			}

			&-border {
				box-shadow: -1px 0 3px #333;
				height: 100%;
				width: 3px;
				background-color: $pine;
				position: absolute;
				border-radius: 3px;
				top: 0;
				left: 0.375em;
			}
		}

		&-cocktail {
			display: block;
			padding-top: 0;
			// padding-bottom: 3em;
			text-align: center;
			color: $white;
			position: relative;
			background-image: url(./img/kiss-of-islay.png);
			background-size: cover;
			background-position: center top;
			background-repeat: no-repeat;
			background-color: transparent;


			h2 {
				margin-top: 0;
			}
			h3 {
				margin-bottom: 0;
			}

			&-header {
				padding: 1em 10%;

				h3 {
					font-size: 1.3em;
					margin-bottom: .3em;
				}
				h2 {
					    font-size: 1.4em;
    					line-height: 1;
				}
			}

			&-content,
			&-directions {
				padding: 2% 10%;
			}

			&-recipe {
				p {
					line-height: 2.45;
				}
				li {
					color: $white;
				}
			}

			&-directions {
				text-align: center;
				// padding: .8em 0;
				display: block;


				// position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				background: linear-gradient(rgba(255,255,255,0), 25%, $black);
				padding: .8em 10%;
			}
		}

		&-food {
			display: block;
			padding-top: 0;
			// padding-bottom: 3em;
			text-align: center;
			color: $white;
			position: relative;
			background-image: url(./img/Oysters.png);
			background-size: cover;
			background-position: center top;
			background-repeat: no-repeat;
			background-color: transparent;
			// background-attachment: fixed;

			h2 {
				margin-top: 0;
			}
			h3 {
				margin-bottom: 0;
			}

			.inner_section {
				padding: 40% 10% 0;
			}
			&-header {
				width: 100%;
				text-align: center;
				text-align: center;
				padding: 1em 10%;
				display: block;
				// position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				background: linear-gradient($black, 75%, rgba(255,255,255,0));

				h3 {
					font-size: 1.3em;
					margin-bottom: .3em;
				}
				h2 {
					font-size: 1.6em;
				}
			}

			&-content,
			&-directions {
				padding: 2% 10%;
			}

			&-name {
				width: 100%;
				text-align: center;
				text-align: center;

				h5 {
					margin-top: 60px;
				padding: 0 10%;
				display: block;
				margin-bottom: 15px;
				}

				&-directions {
					// position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					background: linear-gradient(rgba(255,255,255,0), 25%, $black);
					padding: .8em 10%;
				}
			}
		}
	}

}

.section-more-cocktails {
	background-color: $pine;
	color: $white;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	position: relative;

	h3 {
		margin-bottom: .4em;
		font-size: 1.43em;
	}
	h2 {
		margin-top: 0;
		font-size: 1.63em;
	}

	&-header {
		margin-bottom: 2em;
		padding-left: 1em;
		padding-right: 1em;
	}

	&-grid {

		& > div {
			padding-top: 33.33%;
			border: 1px solid #f4f4f4;
			background-position: center;
			background-size: auto 70%;
			background-color: #000;
			background-repeat: no-repeat;
			cursor: pointer;

			&:hover {

			}
		}
	}

	&-lightbox {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		background-color: rgba(0,0,0,0.75);
		padding-bottom: 4em;
		padding-top: 2em;

		&-close {
			background-image: url(./img/X.png);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			width: 25px;
			height: 25px;
			display: block;
			float: right;
			margin: 1em 1em 0 0;
			cursor: pointer;
		}

		&-inner {
			padding: 1em 3em;
		}

		&-header {
			margin-bottom: 2em;
		}
	}
}

#content { padding-bottom: 0;}
.site-footer {
	// background-image: radial-gradient(circle at 0 0, $black, $white), linear-gradient($white, $white);
	// background-blend-mode: multiply, normal;
	background-color: #f4f4f4;
	padding: 2em 2em;

	p {
		@include ga-text-xs;
	}

	a {
		@include Georgia;
		color: $pine;
		text-decoration: none;
		// font-size: 1.2em;
	}

	.social {
		text-align: center;
		padding-bottom: 2em;

		&-icon {
			width: 40px;
			height: 40px;
			margin: 0 .5em;
			background-size: initial;
			background-image: url(./img/social.png);
			background-repeat: no-repeat;
			background-size: auto 40px;
		}

		&-instagram {
			background-position: 0 0;
		}
		&-facebook {
			background-position: -63px 0;
		}
		&-youtube {
			background-position: -127px 0;
		}
		&-twitter {
			background-position: -190px 0;
		}
	}
}

@-webkit-keyframes epda_bounce1 {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  20% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  40% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  80% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    -webkit-transform: translate3d(0, 0, 0); }
  20% {
    -webkit-transform: translate3d(0, 0, 0); }
  40% {
    -webkit-transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-transform: translate3d(0, 0, 0); }
  80% {
    -webkit-transform: translate3d(0, -8px, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0); } }
@-moz-keyframes epda_bounce1 {
  0% {
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  20% {
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  40% {
    -moz-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); }
  70% {
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  80% {
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  100% {
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    -moz-transform: translate3d(0, 0, 0); }
  20% {
    -moz-transform: translate3d(0, 0, 0); }
  40% {
    -moz-transform: translate3d(0, -30px, 0); }
  70% {
    -moz-transform: translate3d(0, 0, 0); }
  80% {
    -moz-transform: translate3d(0, -8px, 0); }
  100% {
    -moz-transform: translate3d(0, 0, 0); } }
@-ms-keyframes epda_bounce1 {
  0% {
    -ms-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  20% {
    -ms-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  40% {
    -ms-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); }
  70% {
    -ms-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  80% {
    -ms-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  100% {
    -ms-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    -ms-transform: translate3d(0, 0, 0); }
  20% {
    -ms-transform: translate3d(0, 0, 0); }
  40% {
    -ms-transform: translate3d(0, -30px, 0); }
  70% {
    -ms-transform: translate3d(0, 0, 0); }
  80% {
    -ms-transform: translate3d(0, -8px, 0); }
  100% {
    -ms-transform: translate3d(0, 0, 0); } }
@-o-keyframes epda_bounce1 {
  0% {
    -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  20% {
    -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  40% {
    -o-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); }
  70% {
    -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  80% {
    -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  100% {
    -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    -o-transform: translate3d(0, 0, 0); }
  20% {
    -o-transform: translate3d(0, 0, 0); }
  40% {
    -o-transform: translate3d(0, -30px, 0); }
  70% {
    -o-transform: translate3d(0, 0, 0); }
  80% {
    -o-transform: translate3d(0, -8px, 0); }
  100% {
    -o-transform: translate3d(0, 0, 0); } }
@keyframes epda_bounce1 {
  0% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  20% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  40% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }
  70% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  80% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    transform: translate3d(0, 0, 0);
  }
  20% {
    transform: translate3d(0, 0, 0);
  }
  40% {
    transform: translate3d(0, -30px, 0);
  }
  70% {
    transform: translate3d(0, 0, 0);
  }
  80% {
    transform: translate3d(0, -8px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}