.site-header {
	background-color: $pine;
	box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.34);
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;

	.site-branding {
		display: block;
		max-width: 150px;
		margin: 0 auto;
		padding: .8em 0;
		transition: padding .4s 0s ease;
	}

	&.shrink {
		.site-branding {
			padding: .2em 0;
		}
		.menu-toggle {
			margin-top: -1.4em;
		}
	}

	.menu-toggle {
		float: right;
    margin-top: -1.7em;
    margin-right: .6em;
    color: #fff;
    transition: margin .4s 0s ease;
	}
}