.section-inspirational-cocktails {
	padding-bottom: 0;

	&>.pwp-row {
		position: relative;
		background-image: url(./img/kiss-of-islay.png);
		background-size: cover;
		background-position: bottom left;
		background-repeat: no-repeat;

		&>.divider {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			width: 5px;
			height: 100%;
			margin: 0 0 0 -2.5px;
			background-color: $pine;
		}
	}
}